# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

RewriteCond %{REQUEST_URI} ^/fotos/([0-9a-z]+)/(.+)$ [NC]
	RewriteRule ^fotos/(.*)/(.*)$ /wp-content/uploads/2013/05/$2 [R=301,L]
	
RewriteCond %{REQUEST_URI} ^/noticia/([0-9]+)/(.*)$ [NC]
	RewriteRule ^noticia/(.*)/(.*)$ /?p=$1 [R=301,L]

RewriteCond %{REQUEST_URI} ^/noticia/([0-9]+)$ [NC]
	RewriteRule ^noticia/(.*)$ /?p=$1 [R=301,L]
	
# redirecionamento de sc.etecsantosdumont.com.br para raíz de app/webroot/alumni/
RewriteCond %{HTTP_HOST} ^sc\.etecsantosdumont\.com\.br$
RewriteCond %{REQUEST_URI} !^/alumni/(.*)$
	RewriteRule ^(.*)$ alumni/$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.php [L]
</IfModule>

# END WordPress
